/*
primary font:
secondary font:
blue: #6783C2
redorange: #D61B1D
*/
body {
  font-family: 'Roboto', sans-serif;
  line-height: 2;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
}

img {
  width: 400px;
  height: 200px;
}

#main {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 50px;
}

.sidebar {
  background-color: #E4A241;
  padding-left: 20px;

.content {
  background: #C9C8D8;
  padding-left: 20px;
}

.subtitle {
  color: #D61B1D;
}

.topic-subtitle {
  color: #6783C2;
}
