/* .startpicture {
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
} */
:root {
--primary: #64a19d;
--secondary: #6c757d;
--gray: #6c757d;
--gray-dark: #343a40;
}

body {
  display: block;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

footer, header, main, nav, section {
  display: block;
}

#mainNav {
  min-height: 3.5rem;
  background-color: #fff;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}

.navbar-brand img {
  max-height: 50px;
}

nav ul li a {
  color: #06656F;
  font-size: 18px;
  font-weight: 600;
  margin: auto 10px;
}

nav ul li a:hover {
  color: #82D7C7;
  background-color: grey;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

#hero .col {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

#hero .img-col {
  justify-content: center;
  margin-top: 100px;
}

#hero img {
  max-width: 130% !important;
  width: 100%;
}

.fototext {
  margin-left: 20px;
}

#hero .card {
  box-shadow: 11px 7px 16px lightgrey;
  border: 0;
}

#hero i {
  color; red;
  color: #06656F;
}

.serif {
  font-family: 'PT Serif', serif;
  color: black;
  text-align: left;
  line-height: 1.2;
}

.center-serif {
  font-family: 'PT Serif', serif;
  color: white;
  line-height: 1.2;
}

#hzwei {
  font-size: 25px;
}

.small-title {
  font-size: 45px;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 45px;
}

.dividerline {
  width: 40px;
  border-top: 3px solid #82d7c7;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dividerline-white {
  width: 40px;
  border-top: 3px solid white;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

.buttonrow {
  width: 120px;
  height: 40px;
  font-size: 16px;
  background-color: #06656f;
  font-weight: bold;
  border: none;
}

.buttonroww {
  width: 120px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.buttonrow:hover {
  background-color: #82D7C7;
}

.shadowimage {
  box-shadow: 11px 7px 16px lightgrey;
}

section p {
  font-size: 16px;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.6;
}

.containera {
  position: relative;
  width: 400px;
  height: 400px;
  box-shadow: 11px 7px 16px lightgrey;
}

.imagea {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #06656F;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.containera:hover .overlay {
  height: 100%;
}

.texta {
  color: white;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#contact {
  text-align: center;
  background-color: #06656F;
  color: white;
}

.noch {
  height: 200px;
  width: 600px;
  background: white;
  color: black;
}

.extra {
  display: grid;
  place-items: center;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("https://dmaedels.ch/wp-content/uploads/2020/08/titel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.masthead h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 0.9rem;
  background: linear-gradient(rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1.5rem;
}
